body{
	background : url(img/back.png);
	background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
}

#tree{
	position : absolute;
	bottom: 80px;
	left: 600px;
}

#bullet{
	position : absolute;
	top: 40px;
	left: 30px;
}

#bullet2{
	position : absolute;
	top: 40px;
	left: 60px;
}

#bullet3{
	position : absolute;
	top: 40px;
	left: 90px;
}

#score{
	position : absolute;
	right : 30px;
	top : 30px;
	font-size : 60px;
}