body{
	background : url(img/back.png);
	background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
	overflow : hidden;
	
}

#tree{
	position : absolute;
	bottom: 80px;
	left: 600px;
}

#bird{
	position : absolute;
	top: 120px;
	left: -60px;
}

#bullets{
	position : absolute;
	top: 40px;
	left: 30px;
}

#bullets img {
	padding : 3px;
}

#bullets img:last-child{
	background-color : grey;
}

#score{
	position : absolute;
	right : 30px;
	top : 30px;
	font-size : 60px;
}